<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<meta charset="ISO-8859-1">
<title>Frequesntly Asked Questions</title>
</head>
<body lang=EN-US style='word-wrap:break-word'>
<div th:insert="navbar :: navbar">  </div>
<div class=WordSection1>

<p class=MsoNormal align=center style='margin-top:7.5pt;margin-right:15.0pt;
margin-bottom:0in;margin-left:0in;text-align:center;background:#F3E4AC'><b><span
style='font-size:26.0pt;font-family:"Georgia",serif;color:#B33A2D'>Home Design
Solutions (HDS)</span></b></p>

<p class=MsoNormal align=center style='margin-top:7.5pt;margin-right:15.0pt;
margin-bottom:0in;margin-left:0in;text-align:center;background:#F3E4AC'><span
style='font-size:19.0pt;font-family:"Georgia",serif;color:#B33A2D'>Frequently
Asked Questions (FAQ)</span></p>

<div style='border:none;border-top:dotted white 1.0pt;padding:8.0pt 0in 0in 0in;
margin-left:0in;margin-right:15.0pt'>

<p class=MsoNormal style='margin-top:7.5pt;margin-right:0in;margin-bottom:1.5pt;
margin-left:0in;border:none;padding:0in'><b><span style='font-size:13.5pt;
font-family:"Georgia",serif;color:#2A6742'>How much will my cabinets cost?</span></b></p>

</div>

<p class=MsoNormal style='margin-top:0in;margin-right:15.0pt;margin-bottom:
7.5pt;margin-left:15.0pt;line-height:15.6pt'><span style='font-size:9.5pt;
font-family:"Verdana",sans-serif;color:#663300'>Cabinets vary dramatically in
price just like cars or houses. Entry-level cabinets are less expensive than
cabinets with special finishes and upgraded storage features. HDS provides
cabinetry that fits most any budget from basic to bold.</span></p>

<div style='border:none;border-top:dotted white 1.0pt;padding:8.0pt 0in 0in 0in;
margin-left:0in;margin-right:15.0pt'>

<p class=MsoNormal style='margin-top:7.5pt;margin-right:0in;margin-bottom:1.5pt;
margin-left:0in;border:none;padding:0in'><b><span style='font-size:13.5pt;
font-family:"Georgia",serif;color:#2A6742'>How long will it take to get the
cabinets I order?</span></b></p>

</div>

<p class=MsoNormal style='margin-top:0in;margin-right:15.0pt;margin-bottom:
7.5pt;margin-left:15.0pt;line-height:15.6pt'><span style='font-size:9.5pt;
font-family:"Verdana",sans-serif;color:#663300'>Order time varies depending on
the manufacturer and the complexity of the job. The minimum time is roughly
three weeks and can be as much as eight weeks during peak times of the year.</span></p>

<div style='border:none;border-top:dotted white 1.0pt;padding:8.0pt 0in 0in 0in;
margin-left:0in;margin-right:15.0pt'>

<p class=MsoNormal style='margin-top:7.5pt;margin-right:0in;margin-bottom:1.5pt;
margin-left:0in;border:none;padding:0in'><b><span style='font-size:13.5pt;
font-family:"Georgia",serif;color:#2A6742'>Can you design my kitchen from a sketch
of the room that I provide?</span></b></p>

</div>

<p class=MsoNormal style='margin-top:0in;margin-right:15.0pt;margin-bottom:
7.5pt;margin-left:15.0pt;line-height:15.6pt'><span style='font-size:9.5pt;
font-family:"Verdana",sans-serif;color:#663300'>We can certainly start with a
sketch you provide. Your forethought in doing some homework can shorten the
time needed to design the final layout. However, we will always do our own
measurements to verify that the design will actually work.</span></p>

<div style='border:none;border-top:dotted white 1.0pt;padding:8.0pt 0in 0in 0in;
margin-left:0in;margin-right:15.0pt'>

<p class=MsoNormal style='margin-top:7.5pt;margin-right:0in;margin-bottom:1.5pt;
margin-left:0in;border:none;padding:0in'><b><span style='font-size:13.5pt;
font-family:"Georgia",serif;color:#2A6742'>What is the best type of countertop
for the kitchen? </span></b></p>

</div>

<p class=MsoNormal style='margin-top:0in;margin-right:15.0pt;margin-bottom:
7.5pt;margin-left:15.0pt;line-height:15.6pt'><span style='font-size:9.5pt;
font-family:"Verdana",sans-serif;color:#663300'>There are many possible
countertop choices. As with cabinets, your budget needs to be matched with your
desire for flexibility of design and product longevity. Laminate, solid surface,
quartz-enhanced and granite are all good choices.</span></p>

<div style='border:none;border-top:dotted white 1.0pt;padding:8.0pt 0in 0in 0in;
margin-left:0in;margin-right:15.0pt'>

<p class=MsoNormal style='margin-top:7.5pt;margin-right:0in;margin-bottom:1.5pt;
margin-left:0in;border:none;padding:0in'><b><span style='font-size:13.5pt;
font-family:"Georgia",serif;color:#2A6742'>Can you match my existing cabinets
or furniture?</span></b></p>

</div>

<p class=MsoNormal style='margin-top:0in;margin-right:15.0pt;margin-bottom:
7.5pt;margin-left:15.0pt;line-height:15.6pt'><span style='font-size:9.5pt;
font-family:"Verdana",sans-serif;color:#663300'>All woods and stains change
color over time—some more so than others. In many cases, HDS can find cabinetry
that may be compatible with your existing cabinets or furniture. In no case can
we guarantee an exact match.</span></p>

<div style='border:none;border-top:dotted white 1.0pt;padding:8.0pt 0in 0in 0in;
margin-left:0in;margin-right:15.0pt'>

<p class=MsoNormal style='margin-top:7.5pt;margin-right:0in;margin-bottom:1.5pt;
margin-left:0in;border:none;padding:0in'><b><span style='font-size:13.5pt;
font-family:"Georgia",serif;color:#2A6742'>What construction features should I
look for when choosing cabinets?</span></b></p>

</div>

<p class=MsoNormal style='margin-top:0in;margin-right:15.0pt;margin-bottom:
7.5pt;margin-left:15.0pt;line-height:15.6pt'><span style='font-size:9.5pt;
font-family:"Verdana",sans-serif;color:#663300'>Certain construction features
are a sign of quality cabinets. A savvy consumer will look for things such as
finished backs in all cabinets, drawer guides that also support the drawer
bottom, conversion varnish (not lacquer) finishes, multi-way adjustable hinges,
adjustable shelves, and a wide range of heights and depths. Newer convenience
features include “soft-close” hinges and drawers, multi-function drawer
systems, and optional task lighting.</span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:15.0pt;margin-bottom:
7.5pt;margin-left:15.0pt;line-height:15.6pt'><span style='font-size:9.5pt;
font-family:"Verdana",sans-serif;color:#663300'>Be sure to check for the KCMA
(Kitchen Cabinet Manufacturers Association) label, a certification that the
cabinets meet construction standards designed to ensure many years of
trouble-free service.</span></p>

<div style='border:none;border-top:dotted white 1.0pt;padding:8.0pt 0in 0in 0in;
margin-left:0in;margin-right:15.0pt'>

<p class=MsoNormal style='margin-top:7.5pt;margin-right:0in;margin-bottom:1.5pt;
margin-left:0in;border:none;padding:0in'><b><span style='font-size:13.5pt;
font-family:"Georgia",serif;color:#2A6742'>What are the most popular types of
cabinets?</span></b></p>

</div>

<p class=MsoNormal style='margin-top:0in;margin-right:15.0pt;margin-bottom:
7.5pt;margin-left:15.0pt;line-height:15.6pt'><span style='font-size:9.5pt;
font-family:"Verdana",sans-serif;color:#663300'>While popular cabinet styles
and trends vary from year to year, traditional raised-panel oak styling is
always a favorite due to affordability and durability. A current trend is a
“stand-alone” furniture look that allows for highly customized design features
using cabinetry from major manufacturers.</span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:15.0pt;margin-bottom:
7.5pt;margin-left:15.0pt;line-height:15.6pt'><span style='font-size:9.5pt;
font-family:"Verdana",sans-serif;color:#663300'>Besides oak, certain wood
species tend to be favored by today's consumers. Maple is frequently used in
remodeling because of its clean look and its ability to blend in with most
existing finishes. Cherry has become increasingly popular as manufacturers have
developed a variety of finishes allowing it to work in more applications.</span></p>

<div style='border:none;border-top:dotted white 1.0pt;padding:8.0pt 0in 0in 0in;
margin-left:0in;margin-right:15.0pt'>

<p class=MsoNormal style='margin-bottom:1.5pt;border:none;padding:0in'><b><span
style='font-size:13.5pt;font-family:"Georgia",serif;color:#2A6742'>Are
environmentally “green” cabinets available at a reasonable price?</span></b></p>

</div>

<p class=MsoNormal style='margin-top:0in;margin-right:15.0pt;margin-bottom:
7.5pt;margin-left:15.0pt;line-height:15.6pt'><span style='font-size:9.5pt;
font-family:"Verdana",sans-serif;color:#663300'>HDS represents several
manufacturers across the price spectrum whose cabinets are certified under the
Environmental Stewardship Program developed by the KCMA (Kitchen Cabinet
Manufacturers Association).</span></p>

<div style='border:none;border-top:dotted white 1.0pt;padding:8.0pt 0in 0in 0in;
margin-left:0in;margin-right:15.0pt'>

<p class=MsoNormal style='margin-top:7.5pt;margin-right:0in;margin-bottom:1.5pt;
margin-left:0in;border:none;padding:0in'><b><span style='font-size:13.5pt;
font-family:"Georgia",serif;color:#2A6742'>What's the difference between
manufactured cabinets and custom-made cabinets?</span></b></p>

</div>

<p class=MsoNormal style='margin-top:0in;margin-right:15.0pt;margin-bottom:
7.5pt;margin-left:15.0pt;line-height:15.6pt'><span style='font-size:9.5pt;
font-family:"Verdana",sans-serif;color:#663300'>Years ago there was a
significant difference in the sizes and finishes available from
&quot;custom&quot; cabinetmakers and the &quot;stock&quot; manufacturers.
Today, many cabinet manufacturers offer custom sizing and finishes that rival,
and may even exceed, the possibilities of a local custom cabinet shop.</span></p>

<div style='border:none;border-top:dotted white 1.0pt;padding:8.0pt 0in 0in 0in;
margin-left:0in;margin-right:15.0pt'>

<p class=MsoNormal style='margin-top:7.5pt;margin-right:0in;margin-bottom:1.5pt;
margin-left:0in;border:none;padding:0in'><b><span style='font-size:13.5pt;
font-family:"Georgia",serif;color:#2A6742'>Do you charge a design fee, measure
fee or other fees in addition to the contract price for cabinets and
installation?</span></b></p>

</div>

<p class=MsoNormal style='margin-top:0in;margin-right:15.0pt;margin-bottom:
7.5pt;margin-left:15.0pt;line-height:15.6pt'><span style='font-size:9.5pt;
font-family:"Verdana",sans-serif;color:#663300'>HDS does not charge a measure
fee or a design fee for a first design or estimate. In some cases, where
multiple design revisions are requested, a design retainer may be requested.
That retainer is then credited in full to the final cost of the job.</span></p>

<div style='border:none;border-top:dotted white 1.0pt;padding:8.0pt 0in 0in 0in;
margin-left:0in;margin-right:15.0pt'>

<p class=MsoNormal style='margin-top:7.5pt;margin-right:0in;margin-bottom:1.5pt;
margin-left:0in;border:none;padding:0in'><b><span style='font-size:13.5pt;
font-family:"Georgia",serif;color:#2A6742'>Do you do major remodeling?</span></b></p>

</div>

<p class=MsoNormal style='margin-top:0in;margin-right:15.0pt;margin-bottom:
7.5pt;margin-left:15.0pt;line-height:15.6pt'><span style='font-size:9.5pt;
font-family:"Verdana",sans-serif;color:#663300'>HDS specializes in
&quot;light&quot; kitchen, office, or laundry room remodeling. We have strong
working relationships with several quality, full-line remodeling firms for
those jobs that require major structural renovation.</span></p>

<div style='border:none;border-top:dotted white 1.0pt;padding:8.0pt 0in 0in 0in;
margin-left:0in;margin-right:15.0pt'>

<p class=MsoNormal style='margin-top:7.5pt;margin-right:0in;margin-bottom:1.5pt;
margin-left:0in;border:none;padding:0in'><b><span style='font-size:13.5pt;
font-family:"Georgia",serif;color:#2A6742'>Do you provide cabinets for
remodeling only, or also for new construction?</span></b></p>

</div>

<p class=MsoNormal style='margin-top:0in;margin-right:15.0pt;margin-bottom:
7.5pt;margin-left:15.0pt;line-height:15.6pt'><span style='font-size:9.5pt;
font-family:"Verdana",sans-serif;color:#663300'>HDS works with a number of
reputable remodelers and can provide cabinets through your contractor or
directly to you for your kitchen or bath remodeling project or room addition.
We also work with many custom home builders, who consult with our designers to
assure that the layouts for kitchen cabinets, bath cabinets, laundry room
cabinets and other cabinetry are chosen to properly fit the budget and space.
We will coordinate directly with your builder and also consult directly with
you</span></p>

<p class=MsoNormal>&nbsp;</p>

</div>
</body>
</html>